@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

:root {
  --dark-green: #0e4f1f;
  --highlight-color: #ff1b68;
}
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: 3.5rem auto fit-content(8rem);
  /* padding-top: 3.5rem; */
  height: 100%;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

main {
  /* min-height: calc(100vh - 3.5rem - 8rem); */
  /* margin-top: 3.5rem; */
  /* grid-row: 2 / 3; */
  grid-area: main;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  opacity: 0;
  transition: opacity 2s linear;
}

.main-footer {
  background: black;
  padding: 2rem;
  margin-top: 3rem;
  /* grid-row: 3 / 4; */
  grid-area: footer;
}

.main-footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__link {
  /* display: block; */
  margin: 0.5rem 0;
}

.main-footer__link a {
  text-decoration: none;
  color: white;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

@media (min-width: 40rem) {
  .main-footer__link {
    /* display: inline-block; */
    margin: 0 1rem;
  }
  .main-footer__links {
    flex-direction: row;
    justify-content: center;
  }
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  background: #2ddf5c;
  padding: 0.5rem 1rem;
  z-index: 60;
  top: 0;
  left: 0;
}

/* .main-div {
  display: inline-block;
  vertical-align: middle;
} */

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.main-div__brand {
  text-decoration: none;
  color: var(--dark-green);
  font-weight: bold;
  /* height: 2.5rem;
  display: inline-block;
  vertical-align: middle; */
}

.main-div__brand img {
  height: 2.5rem;
  vertical-align: middle;
  /* width: 100%; */
}

@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }
}

.main-nav {
  display: none;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav__item {
  margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: var(--dark-green);
  font-weight: bold;
  padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta {
  animation: wiggle 400ms 3s 10 ease-out;
}
/* p::first-letter {
    color: red;
    font-size: 20px;
  } */

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.main-nav__item--cta a:active,
.main-nav__item--cta a:hover,
.mobile-nav__item--cta a:active,
.mobile-nav__item--cta a:hover {
  color: #ff1b68;
  background: white;
  border: none;
}

.mobile-nav {
  /* display: none; */
  opacity: 0;
  transform: translateX(-100%);
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
  transition: transform 300ms ease-out;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap;
  align-content: center; */
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

@media (min-width: 40rem) {
  .main-nav {
    /* display: inline-block;
    text-align: right;
    width: calc(100% - 44px);
    vertical-align: middle; */
    display: flex;
  }
}

.button {
  background: var(--dark-green);
  color: white;
  font: inherit;
  border: 1.5px solid var(--dark-green);
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: white;
  color: var(--dark-green);
}

.button:focus {
  outline: none;
}

.button[disabled] {
  cursor: not-allowed;
  border: #a1a1a1;
  background: #ccc;
  color: #a1a1a1;
}

.open {
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}
